.type-text{
  margin: auto;
}

.type-text__totype{
  width: 544px;
  height: 300px;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 4px;
  padding: 12px;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.type-text__description{
  margin-bottom: 8px
}

.type-text input{
  width: 544px;
  height: 22px;
}

.type-text__typed{
  font-size: 24px;
  margin-left: 4px;
}

.type-text__typed.right{
  color: green;
  background-color: #aaffaa ;
}

.type-text__typed.wrong{
  color: red;
  background-color: #ffaaaa;
}

.type-text__typed.none{
  color: blue;
}